<div class="group-selected">
    <span>{{groupName}}</span>
    <a class="change-group" [routerLink]="['/elegir-grupo']">Cambiar grupo</a>
</div>
<div class="controls">
    <app-search-input (searchChange)="searchChange.emit($event)"></app-search-input>
    <app-date-filter [dateOptions]="dateOptions" (dateChange)="dateChange.emit($event)"></app-date-filter>
    <button class="icon-btn" (click)="load()" title="Actualizar">
        <span class="material-icons" aria-hidden="true">refresh</span>
    </button>
</div>
